@model dynamic

@{
    ViewBag.Title = "Zombie Outbreak Tracker";
}

<h2>Zombie Outbreak Tracker</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Location</th>
            <th>Incident Type</th>
            <th>Reported At</th>
            <th>Reported By</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>02855 Clyde Gallagher Crossing</td>
            <td>largeSwarm</td>
            <td>Betty Henry</td>
            <td>2016-06-07T20:58:09Z</td>
        </tr>
        <tr>
            <td>9 Northwestern Place</td>
            <td>infected</td>
            <td>Sarah Dean</td>
            <td>2016-03-28T02:34:55Z</td>
        </tr>
        <tr>
            <td>45289 Carey Street</td>
            <td>largeSwarm</td>
            <td>James Rogers</td>
            <td>2016-04-06T02:09:54Z</td>
        </tr>
        <tr>
            <td>470 Dapin Road</td>
            <td>largeSwarm</td>
            <td>Dennis Ramirez</td>
            <td>2016-01-03T20:34:38Z</td>
        </tr>
        <tr>
            <td>3707 Schmedeman Parkway</td>
            <td>single</td>
            <td>Jean Baker</td>
            <td>2016-05-22T16:21:51Z</td>
        </tr>
        <tr>
            <td>50563 Chive Point</td>
            <td>smallSwarm</td>
            <td>Deborah Cole</td>
            <td>2016-05-07T10:02:52Z</td>
        </tr>
        <tr>
            <td>11 Florence Alley</td>
            <td>largeSwarm</td>
            <td>Donna Hart</td>
            <td>2016-04-20T05:05:44Z</td>
        </tr>
        <tr>
            <td>88629 Westerfield Lane</td>
            <td>largeSwarm</td>
            <td>Keith Cook</td>
            <td>2016-03-08T03:12:26Z</td>

        </tr>
    </tbody>
</table>