@model dynamic

@{
    ViewBag.Title = "Zombie Outbreak Tracker";
}

<h2>Zombie Outbreak Tracker</h2>
<p class="lead">
    An outbreak is in progress!  We need a grid here to see updates!
</p>