<p class="lead" ng-if="vm.isLoading">
    <span class="fa fa-spin fa-spinner"></span>
    Loading incidents...
</p>
<table class="table table-striped" ng-if="!vm.isLoading">
    <thead>
    <tr>
        <th>Location</th>
        <th>Incident Type</th>
        <th>Reported At</th>
        <th>Reported By</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="zombie in vm.zombies | orderBy:'-reportedAt'">
        <td>{{zombie.location}}</td>
        <td>{{zombie.incidentType}}</td>
        <td>{{zombie.reportedAt | date:'MM/dd/yyyy @ h:mm:ss a'}}</td>
        <td>{{zombie.reportedBy}}</td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="vm.showDetails(zombie)">View Details</button>
        </td>
    </tr>
    </tbody>
</table>